<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Réparations - Réparateur Expert</title>
    <%= stylesheet_link_tag('style') %>
</head>
<body>
    <header>
        <h1>Réparateur Expert</h1>
        <p>Liste des Réparations en Cours</p>
        <!-- <button onclick="document.getElementById('addClientModal').style.display='block'">Ajouter un Client</button>
        <button onclick="document.getElementById('addRepairModal').style.display='block'">Ajouter une Réparation</button> -->
        <%= link_to "Nouveau client", new_client_path, class: "button" %>        
    </header>

<h1>Clients</h1>

<ul>
  <% @clients.each do |client| %>
    <li>
	<%= link_to client.nom, client_path(client) %>
    </li>
  <% end %>
</ul>

<div class="container">
  <h2>Réparations à Faire</h2>
      <div class="repair-list-container">
         <ul class="repair-list">
            <% @reparations.each do |rep| %>
                <li>
                    <h3>Client: <%= rep.client.nom %></h3>
                    <p>Appareil: <%= rep.appareil %></p>
                    <p>Description: <%= rep.description %></p>  
                    <p>Date de depot: <%= rep.date_depot %></p>
                    <p>Statut: <%= rep.statut %></p>
                    <br>
                    <p><%= link_to "Modifier", edit_client_reparation_path(rep.client, rep), class: "button" %></p>
                    <br>
                </li>
            <% end %>
      </ul>
   </div>
</div>


</body>
</html>
