<%= form_with(model: [@client, @reparation], local: true) do |form| %>
  <p>
    <%= form.label :appareil %><br>
    <%= form.text_field :appareil %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <div class="field">
    <%= form.label :statut %>
    <%= form.select :statut, @statuts %>
  </div>
  <p>
    <%= form.submit %>
  </p>
<% end %>

