<%= turbo_frame_tag "modal" do %>
<div class="modal" id="addRepairModal">
      <div class="modal-content">
        <span class="close" onclick="document.getElementById('addRepairModal').style.display='none'">&times;</span>
<h1>Ajouter une Réparation</h1>

<%= form_with(model: @reparation, local: true, method: :post, data: {turbo_frame: "_top"}) do |form| %>
  <% if @reparation.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @reparation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :appareil %>
    <%= form.text_field :appareil %>
  </div>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.collection_select :client_id, @clients, :id, :nom, prompt: "Select Client" %>
  </div>

  <div class="actions">
    <%= form.submit "Ajouter" %>
  </div>
<% end %>
</div>
</div>
<% end %>
